%h1 Este es el home de mi alicacion
= link_to "ver usuarios", users_path
- # debe haber un enlace para crear o listar usuarios
- # crear usuario -> redireccion a /users/new
- # listar usuarios -> redireccion a /users
